body{
    background: #53D39F;
    color: #8B27AA;
    margin: 100px;
}
p{
    color: #162B63;
}
.noun{
    font-weight: 900;
    color: black;
}
p.noun{
    color:white;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;

}
